/* sv:e:\SANDBOX\repos\npm-sv\sv-tahoe\doc\template/doc.css */
html {margin: 0;}
body {margin: 0 auto;padding: 0;}
.menu {line-height: 3em;margin: 0;}
.menu a {display: inline-block;line-height: 3em;text-decoration: none;padding: 0 1em;}
.menu a:hover {}
.menu.link {line-height: 2em;margin: 0;}
.menu.link a {display: inline-block;line-height: 2em;text-decoration: none;padding: 0 .5em;}
.menu.link a:hover {}
div {border-top:1px solid transparent;/*hack margin-top*/padding: 1em;}
ul {padding: 0 1em;}
ul li {list-style: outside none none;line-height: 1.4;}
dl {margin: .3em;}
dl dt {font-weight: 600;}
dl dt dd {}
h1 {font-weight: 400;margin: .3em;}
h2 {font-weight: 400;margin: 1em .5em .5em 1em;}
h3 {font-weight: 400;margin: .3em;}
pre {margin: .3em;white-space: pre-wrap;}
p,
.p {margin: 2em;}
code {font-family: monospace;}
cite {}
a {}
a:hover {}
a:visited {}
a:visited:hover {}
a.link {}
a.link:hover {}
a.link:visited {}
a.link:visited:hover {}
table {width: 100%;border-collapse: collapse;border-spacing: 0;}
caption {text-align: left;}
table,tr,th,td {}
table tr {}
table th {text-align: left;padding: .5em 1.4em;}
table th:first-child {padding: .5em 4em;}
table td {padding: .5em 1em;}
table td:first-child {width: 10%;padding: .5em 3em;}
td, th {}
strong {}
em {}
.inline,
ul.inline li {display: inline-block;}
.tab {}
.tab .el {}
.tab .el.active {}
.marg {margin: 0 2.5em;}
.marg2 {margin: 0 5em;}
.padd {padding: .3em 0;}
.padd2 {padding: 5em 0;}
/*decoration*/
/*font*/
html
body,
pre {font-family: 'exo 2', "Open Sans", Ubuntu, Tahoma, Verdana, Arial, sans-serif;font-size: 1em;}
/*END font*/
body {background-color: #E1E5E6;color: #333333;}
div,
p {background-color: #FFFFFF;}
.menu {color: #E1E5E6;}
.menu a {color: #EBEFF0;}
.menu a:hover {background-color: #5B668B;color: #FFFFFF;}
.menu.link {color: #E1E5E6;}
.menu.link a {color: #5B668B;}
.menu.link a.active {background-color: #FFC821;color: #5B668B;}
.menu.link a:hover {background-color: #FFC821;color: #324565;}
ul li.path:before {content: '\002514';font-size: 1em;line-height: 1em;color: #AAAAAA;vertical-align: sub;padding-right: .2em;}/*&#9492;*/
.tahoe {background-color: #7987B8;color: #FFFFFF;}
.menu.tahoe {background-image: url(tahoe-logo.svg);background-position: 99% center;background-repeat: no-repeat;background-size: auto 50%;}
.accent {background-color: #FFC821;color: #5B668B;}
.dark {background-color: #5B668B;color: #FFFFFF;}
.light {background-color: #E1E5E6;color: #7987B8;}
table {background-color: #FFFFFF;}
caption {background-color: transparent;}
table tr:nth-child(2n+1) {background-color: #F2F2F2;}
table th {background-color: #E1E5E6;color: #999999;font-size: .8em;}
table td:first-child {white-space: nowrap;font-weight: 600;}
table td {border-left: 1px solid #F2F2F2;}
dt .attr,
.attr {font-weight: 400;color: #E1E5E6;}
h2.hr {border-bottom: 1px solid #E1E5E6;}
/*END decoration*/
